## [作業重點]
了解如何使用 Sklearn 中的 hyper-parameter search 找出最佳的超參數

### 作業
請使用不同的資料集，並使用 hyper-parameter search 的方式，看能不能找出最佳的超參數組合

In [25]:
from sklearn import datasets, metrics
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier

In [5]:
import pandas as pd

In [6]:
df1 = pd.read_csv('D:\\dataimport\\titanic_train.csv')

In [7]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [11]:
df1.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [12]:
df1 = pd.get_dummies(df1,columns=['Sex','Embarked'])

In [13]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Sex_female', 'Sex_male', 'Embarked_C',
       'Embarked_Q', 'Embarked_S'],
      dtype='object')

In [16]:
df1 = df1.dropna()

In [20]:
df1

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,1,0,1,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,1,0,0,0,1
6,7,0,1,"McCarthy, Mr. Timothy J",54.0,0,0,17463,51.8625,E46,0,1,0,0,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",4.0,1,1,PP 9549,16.7000,G6,1,0,0,0,1
11,12,1,1,"Bonnell, Miss. Elizabeth",58.0,0,0,113783,26.5500,C103,1,0,0,0,1
21,22,1,2,"Beesley, Mr. Lawrence",34.0,0,0,248698,13.0000,D56,0,1,0,0,1
23,24,1,1,"Sloper, Mr. William Thompson",28.0,0,0,113788,35.5000,A6,0,1,0,0,1
27,28,0,1,"Fortune, Mr. Charles Alexander",19.0,3,2,19950,263.0000,C23 C25 C27,0,1,0,0,1
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",49.0,1,0,PC 17572,76.7292,D33,1,0,1,0,0
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",65.0,0,1,113509,61.9792,B30,0,1,1,0,0
61,62,1,1,"Icard, Miss. Amelie",38.0,0,0,113572,80.0000,B28,1,0,0,0,0
62,63,0,1,"Harris, Mr. Henry Birkhardt",45.0,1,0,36973,83.4750,C83,0,1,0,0,1
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",29.0,0,0,C.A. 29395,10.5000,F33,1,0,0,0,1
75,76,0,3,"Moen, Mr. Sigurd Hansen",25.0,0,0,348123,7.6500,F G73,0,1,0,0,1
88,89,1,1,"Fortune, Miss. Mabel Helen",23.0,3,2,19950,263.0000,C23 C25 C27,1,0,0,0,1
92,93,0,1,"Chaffee, Mr. Herbert Fuller",46.0,1,0,W.E.P. 5734,61.1750,E31,0,1,0,0,1
96,97,0,1,"Goldschmidt, Mr. George B",71.0,0,0,PC 17754,34.6542,A5,0,1,1,0,0
97,98,1,1,"Greenfield, Mr. William Bertram",23.0,0,1,PC 17759,63.3583,D10 D12,0,1,1,0,0
102,103,0,1,"White, Mr. Richard Frasar",21.0,0,1,35281,77.2875,D26,0,1,0,0,1
110,111,0,1,"Porter, Mr. Walter Chamberlain",47.0,0,0,110465,52.0000,C110,0,1,0,0,1
118,119,0,1,"Baxter, Mr. Quigg Edmond",24.0,0,1,PC 17558,247.5208,B58 B60,0,1,1,0,0
123,124,1,2,"Webber, Miss. Susan",32.5,0,0,27267,13.0000,E101,1,0,0,0,1
124,125,0,1,"White, Mr. Percival Wayland",54.0,0,1,35281,77.2875,D26,0,1,0,0,1
136,137,1,1,"Newsom, Miss. Helen Monypeny",19.0,0,2,11752,26.2833,D47,1,0,0,0,1
137,138,0,1,"Futrelle, Mr. Jacques Heath",37.0,1,0,113803,53.1000,C123,0,1,0,0,1
139,140,0,1,"Giglio, Mr. Victor",24.0,0,0,PC 17593,79.2000,B86,0,1,1,0,0
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",36.5,0,2,230080,26.0000,F2,0,1,0,0,1
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",22.0,1,0,113776,66.6000,C2,1,0,0,0,1
170,171,0,1,"Van der hoef, Mr. Wyckoff",61.0,0,0,111240,33.5000,B19,0,1,0,0,1
174,175,0,1,"Smith, Mr. James Clinch",56.0,0,0,17764,30.6958,A7,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,742,0,1,"Cavendish, Mr. Tyrell William",36.0,1,0,19877,78.8500,C46,0,1,0,0,1
742,743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",21.0,2,2,PC 17608,262.3750,B57 B59 B63 B66,1,0,1,0,0
745,746,0,1,"Crosby, Capt. Edward Gifford",70.0,1,1,WE/P 5735,71.0000,B22,0,1,0,0,1
748,749,0,1,"Marvin, Mr. Daniel Warner",19.0,1,0,113773,53.1000,D30,0,1,0,0,1
751,752,1,3,"Moor, Master. Meier",6.0,0,1,392096,12.4750,E121,0,1,0,0,1
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",33.0,0,0,110152,86.5000,B77,1,0,0,0,1
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",36.0,1,2,113760,120.0000,B96 B98,1,0,0,0,1
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",51.0,1,0,13502,77.9583,D11,1,0,0,0,1
772,773,0,2,"Mack, Mrs. (Mary)",57.0,0,0,S.O./P.P. 3,10.5000,E77,1,0,0,0,1
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",43.0,0,1,24160,211.3375,B3,1,0,0,0,1
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",17.0,1,0,17474,57.0000,B20,1,0,0,0,1
782,783,0,1,"Long, Mr. Milton Clyde",29.0,0,0,113501,30.0000,D6,0,1,0,0,1
789,790,0,1,"Guggenheim, Mr. Benjamin",46.0,0,0,PC 17593,79.2000,B82 B84,0,1,1,0,0
796,797,1,1,"Leader, Dr. Alice (Farnham)",49.0,0,0,17465,25.9292,D17,1,0,0,0,1
802,803,1,1,"Carter, Master. William Thornton II",11.0,1,2,113760,120.0000,B96 B98,0,1,0,0,1
806,807,0,1,"Andrews, Mr. Thomas Jr",39.0,0,0,112050,0.0000,A36,0,1,0,0,1
809,810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",33.0,1,0,113806,53.1000,E8,1,0,0,0,1
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",52.0,1,1,12749,93.5000,B69,1,0,0,0,1
823,824,1,3,"Moor, Mrs. (Beila)",27.0,0,1,392096,12.4750,E121,1,0,0,0,1
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",62.0,0,0,113572,80.0000,B28,1,0,0,0,0
835,836,1,1,"Compton, Miss. Sara Rebecca",39.0,1,1,PC 17756,83.1583,E49,1,0,1,0,0
853,854,1,1,"Lines, Miss. Mary Conover",16.0,0,1,PC 17592,39.4000,D28,1,0,0,0,1
857,858,1,1,"Daly, Mr. Peter Denis",51.0,0,0,113055,26.5500,E17,0,1,0,0,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",48.0,0,0,17466,25.9292,D17,1,0,0,0,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",31.0,0,0,PC 17590,50.4958,A24,0,1,0,0,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",47.0,1,1,11751,52.5542,D35,1,0,0,0,1
872,873,0,1,"Carlsson, Mr. Frans Olof",33.0,0,0,695,5.0000,B51 B53 B55,0,1,0,0,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",56.0,0,1,11767,83.1583,C50,1,0,1,0,0
887,888,1,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,1,0,0,0,1
889,890,1,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,0,1,1,0,0

In [27]:
x = df1[['Pclass', 'Age', 'SibSp','Parch', 'Fare','Sex_female', 'Sex_male', 'Embarked_C','Embarked_Q', 'Embarked_S' ]]
y = df1['Survived']
# 切分訓練集/測試集
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

# 建立模型
clf = GradientBoostingClassifier(random_state=7)

In [30]:
# 先看看使用預設參數得到的結果，約為 8.379 的 MSE
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
acc = metrics.accuracy_score(y_test, y_pred)
print("Accuracy: ", acc)

Accuracy:  0.7021276595744681

In [32]:
n_estimators = [100, 200, 300]
max_depth = [1, 3, 5]
param_grid = dict(n_estimators=n_estimators, max_depth=max_depth)

## 建立搜尋物件，放入模型及參數組合字典 (n_jobs=-1 會使用全部 cpu 平行運算)
grid_search = GridSearchCV(clf, param_grid, scoring="roc_auc", n_jobs=-1, verbose=1)

# 開始搜尋最佳參數
grid_result = grid_search.fit(x_train, y_train)

# 預設會跑 3-fold cross-validadtion，總共 9 種參數組合，總共要 train 27 次模型

Fitting 3 folds for each of 9 candidates, totalling 27 fits

[Parallel(n_jobs=-1)]: Done  27 out of  27 | elapsed:    8.9s finished

In [33]:
# 印出最佳結果與最佳參數
print("Best Accuracy: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

Best Accuracy: 0.829918 using {'max_depth': 3, 'n_estimators': 100}

In [34]:
# 使用最佳參數重新建立模型
clf_bestparam = GradientBoostingClassifier(max_depth=grid_result.best_params_['max_depth'],
                                           n_estimators=grid_result.best_params_['n_estimators'])

# 訓練模型
clf_bestparam.fit(x_train, y_train)

# 預測測試集
y_pred = clf_bestparam.predict(x_test)

In [35]:
acc = metrics.accuracy_score(y_test, y_pred)
print("Accuracy: ", acc)

Accuracy:  0.7446808510638298

In [ ]:
#The Accuracy increased from 0.70 to 0.74.