## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [9]:
import random
kk = np.random.randint(1,1000000000,size=10)
#Assume that the population of country are between 1 to 1 billion.

In [13]:
contry = ['A','B','C','D','E','F','G','H','I','J']

In [19]:
data = {'國家':contry ,'人口':kk }
data = pd.DataFrame(data)

In [20]:
data

          人口 國家
0  127910458  A
1  693111451  B
2  265459253  C
3  656670023  D
4  847257168  E
5  569924950  F
6  684579341  G
7  805906269  H
8  117912599  I
9  186558571  J

In [30]:
data[data['人口']==data.人口.max()]

          人口 國家
4  847257168  E

In [ ]:
# Country E has the largest population.